html, body {
    margin:0;
    padding:0;
    }
body {
    font-family: 'Times New Roman', Times, serif;
}
nav {
    background-color: #333333;
    height:45px;
}
main {
    background-color:#1E93CC;
}
.Logo {
    margin-top:30px;
}
.Banner {
    background-color: white;
    width:100%;
    text-align: center;
    font-size:30px;
    padding-top:20px;
    padding-bottom: 20px;
}
.FirstTitle {
    color:white;
    font-size:30px;
}
.StartButton {
    background-color:#e99002;
    border: solid 2px white;
    color:white;
    font-size:30px;
    padding:15px;
    border-radius: 10px;
}
.InsideNav {
    margin:auto;
    width:85%;
    height:45px;
    line-height:45px;
}
.FirstSection {
    margin:auto;
    width:85%;
    text-align: center;
    background-image:url(assets/images/homme.png);
    background-repeat: no-repeat;
    background-position: 10px;
    padding-top:20px;
    padding-bottom:60px;
}
.login {
    text-align:right;
}
mark {
    background-color: transparent;
}
.onLeft {
    float:left;
    color:white;
    margin-left:25px;
    list-style-type: none;
}
.onLeftLogo {
    float:left;
    color:white;
    list-style-type: none;
}
.onRight {
    float:right;
    color:white;
    list-style-type: none;
    background-image:url(assets/images/login.png);
    background-repeat: no-repeat;
    padding-left:20px;
    transform: translate(-20px);
}
.pointer {
    cursor:pointer;
}
